<div style="margin-top: 25px;" class="container-md">

<table class="table animated jackInTheBox">
    <thead class="thead-dark">
        <tr>
            <th scope="col">UID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Fecha de Creación</th>
            <th scope="col">Acciones</th>

        </tr>
    </thead>
    <tbody>
        {{#each uids}}
        <tr>
            <th class=""scope="row">{{this.uid}}</th>
            <td>{{name}}</td>
            <td>{{lastname}}</td>
            <td>{{timeago timestamps}}</td>
            <td><a href="/delete/{{this.uid}}">Eliminar</a></td>
        </tr>
        {{/each}}
    </tbody>
</table>
</div>
